<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363975990498-2j1ca1rushgn43mdi58kr8r2f20hkko7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363975990498-2j1ca1rushgn43mdi58kr8r2f20hkko7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>363975990498-9l4c102mi15cvug5lqe864142r19dt27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVOdxKo_wW_rYqEejkhZFknnaW8qOe_vk</string>
	<key>GCM_SENDER_ID</key>
	<string>363975990498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiProject</string>
	<key>PROJECT_ID</key>
	<string>ai-project-2d1fe</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-project-2d1fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363975990498:ios:90a1d965d73bbd284212bb</string>
	<key>DATABASE_URL</key>
	<string>https://ai-project-2d1fe-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>